// variable color
    $color-theme-primary:#00adef;
    $color-text-on-theme-primary: #fff;
    $color-hover-on-theme-primary: #ccc;
    $color-theme-active: #0088c6;
    $color-theme-disabled: #4dc6f4;
    $color-base-color: #000;
    $color-text-on-base-color: #fff;
    $color-link-on-base-color: #999;
    $color-hover-on-base-color: #999;
    $color-bg-on-base-color: #141414;

    $font-size:14px;
    $line-height : 22px;

    $font-weight:400;
    $line-height:1.5rem;

    // $breakpoints:(
    //     'extra-large' : 1200px,
    //     'large' : 990px,
    //     'medium' : 768px,
    //     'small' : 576px,
    // )