.carousel-item{
    position: relative;
    .carousel-content{
        // opacity: 0;
        // transform: translateY(-50px);
        // transition-delay: -0.5s;
        .carousel-text{
            position: absolute;
            top: 60px;     
            left: 95px;
            animation-name: mercedes;
            animation-duration: 1s;
            @keyframes mercedes {
                from{
                    top: -50px;
                }
                to{
                    top: 60px;
                }
            }
            h1{
                font-size: 24px;
                padding-bottom: 33px;
                color: #ffffff;
            }      
            h1:before{
                background: #fff;
                content: "";
                display: block;
                height: 2px;
                margin-bottom: 28px;
                margin-left: 0;
                margin-top: 0;
                position: relative;
                width: 60px;
            }
            button{
                background-color: #333333;
                color: #d3d3d3;
                display: inline-block;
                padding: 7px 20px 6px;
                border: 1px solid #202020;
                font-size: 14px;
            }
            button:hover{
                background-color: #0f0f0f;
                color: #d3d3d3;
                display: inline-block;
                padding: 7px 20px 6px;
                border: 1px solid #080808;
                font-size: 14px;
            }
        }
        .labeling-text{
            position: absolute;
            bottom: 0px;
            left: 95px;
            animation-name: labeling;
            animation-duration: 1s;
            @keyframes labeling {
                from{
                    bottom: 20px
                }
                to{
                    bottom: 0px;
                }
                
            }
            p{
                font-size: 12px;
                color: white;
            }
        }
    }
}
@media screen and (max-width:1000px){
    .carousel-inner{
        .carousel-item{
            .carousel-content{
                .carousel-text{
                    h1{
                        font-size: 22px;
                    }
                    button{
                        font-size: 20px;
                    }
                }
            }
            
        }
    }
}
@media screen and (min-width:1100px) and (max-width:850px){
    .carousel-inner{
        .carousel-item{
            .carousel-content{
                .carousel-text{
                    h1{
                        font-size: 18px;
                    }
                    button{
                        font-size: 15px;
                    }
                }
            }
            
        }
    }
}
