.footer-images{
    background-color: #000000;
    padding-bottom: 50px;
    .footer-images-hr{
        border: 0;
    height: 1px;
    // margin: 30px -1px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
        &::before{
            background: #333;
            content: "";
            display: block;
            height: 1px;
            left: 0px;
            position: absolute;
            right: 0px;
        }
    }
    .img-fluid{
        height: 32px;
    }
}